[Unit]
Description=Open WebUI
After=network-online.target mcpo.service

[Container]
Image=ghcr.io/open-webui/open-webui:main
PublishPort=127.0.0.1:3000:8080
Volume=open-webui-data.volume:/app/backend/data
Environment=WEBUI_AUTH=True
Environment=ENABLE_SIGNUP=False
Environment=OPENAI_API_BASE_URL=http://127.0.0.1:8080/v1
Environment=OPENAI_API_KEY=unused

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
