[defaults]
inventory = inventory/test.ini
host_key_checking = False
retry_files_enabled = False
roles_path = roles
stdout_callback = yaml
collections_path = /usr/lib/python3/dist-packages/ansible_collections:~/.ansible/collections
