-D
-b 8192
-a always,exit -F arch=b64 -S execve -k ainode_exec
-a always,exit -F arch=b32 -S execve -k ainode_exec
-w /etc/ainode -p wa -k ainode_config
-w /srv/ainode/audit -p wa -k ainode_audit_tamper
